#app-mount {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/dark-theme-1440.png')
		center/cover no-repeat;
}

.tutorialContainer-1pL9QS .svg-2zuE5p {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_dark-theme.png')
		center/contain no-repeat;
}
#app-mount:before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
			to right,
			rgb(0, 0, 0),
			transparent 30%,
			transparent 80%,
			rgb(31, 30, 30)
		),
		radial-gradient(transparent 50%, rgb(31, 30, 30));
	user-select: none;
	pointer-events: none;
}
.theme-dark .mentioned-Tre-dv a.anchor-1MIwyf {
	background-color: var(--color-low-trans);
	border-radius: 0.25em;
}
::selection {
	background-color: var(--color-alert);
	color: var(--color-low);
}